@font-face {
    font-family: "montserrat";
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "montserrat-italic";
    src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: "rubik";
    src: url('../fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "rubik-italic";
    src: url('../fonts/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

html {
    --primary-text: #08201E;
    --secondary-text: #ffffff;
    --link-before: #005C46; 
    --main-background: #DDFFFD;
    --footer-background: #005454;
    --button-color: #005C46;
    /* 344D00 */
    --case-study: #165954;
    --hover-icon: #FFD80B;

    --font-header: montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --font-primary: rubik, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    
    --project-1-light: #92CEF1;
    --project-1-dark: #004265;
    --project-2-light: #FFD5E3;
    --project-2-dark: #A31945; 
    /* #CC3467 */
    --project-3-light: #E2FFFF;
    --project-3-dark: #154445;
    --project-4-light: #E4FCCF;
    --project-4-dark: #4B5A2B;

    --border-radius: 20px;
}

* {
    box-sizing: border-box;
}

.project-wrapper {
    width: 100%;
    /* max-width: 300 px; */
    margin: 0 auto;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}


body {
    background-color: var(--main-background);
    
}
main {
    background-color: var(--main-background);
    
}
p {
    color: var(--primary-text);
    font-family: var(--font-primary);
    line-height: 28px;
    margin: 3vh auto;
}
ul li {
    color: var(--primary-text);
    font-family: var(--font-primary);
    line-height: 28px;
}

h1, h2, h3, h4 {
    /* color: var(--primary-text);
    font-family: var(--font-header);
    font-weight: 700;
    font-style: bold;
    max-width: 100%; */

    color: var(--primary-text);
    font-family: var(--font-header);
    max-width: 100%;
    font-size: calc(2vh + 1vw); 
    line-height: calc(3vh + 1vw);
}

/* transition: [property] [duration] [timing-function] [delay]; */
.link {
    color: var(--link-before);
    /* transition: color .5s ease-in .1s,
    font-style .5s ease-out .1s; */

    transition: background-color 0.3s ease-in, color 0.3s, font-style .3s ease-out;

    padding: 0.5rem 1rem; 
    border-radius: 20px; 
}
.link:hover {
    background-color: #08201E; /* Dark color for hover state */
    color: #ffffff;
    font-style: italic;
}

.button-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 3vh;
}
.button {
    color: white;
    font-family: var(--font-primary);
    font-size: 1rem;
    text-decoration: none;
    border-radius: 44px;
    cursor: pointer;
    background-color: var(--button-color);

    transition: transform 0.3s;
}
.button-prototype {
    padding: 1rem 2rem; 
    margin: .7rem auto;
    width: fit-content;
    margin-top: 2vh;
}
.michoacana-button {
    margin: 3vh .1rem;
}

.button:hover {
    font-style: normal;
    animation: overshoot 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
.michoacana-button:hover {
    font-style: normal;
    animation: none;
    transition: all 0.3s ease;
    transform: translateY(-5px);
    background-color: var(--project-2-dark);
}
@keyframes overshoot {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
    
    100% {
        transform: scale(1); 
    }
}

@media screen and (min-width: 576px) {
    .button-container {
        flex-direction: row; /* Buttons will be in a row on screens wider than 576px */
        justify-content: center; /* Centers the buttons horizontally */
    }
}

/* Mobile styles */
@media screen and (min-width: 0px) and (max-width: 767px) {
    html {
        font-size: 16px;
        line-height: 28px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
        line-height: 33px;
    }
    h3 {
        font-size: 20px;
        line-height: 33px;
    }
    h4 {
        font-size: 18px;
    }
    .button {
        font-size: 1rem;
        line-height: 24px;
    }
    caption {
        font-size: 16px;
    }
}
  /* Tablet styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 26px;
        line-height: 33px;
    }
    h3 {
        font-size: 22px;
        line-height: 33px;
    }
    h4 {
        font-size: 18px;
    }
    .button {
        font-size: 1rem;
        line-height: 24px;
    }
    caption {
        font-size: 14px;
    }
}
  /* Desktop styles */
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
        line-height: 33px;
    }
    h3 {
        font-size: 24px;
        line-height: 33px;
    }
    h4 {
        font-size: 22px;
    }
    .button {
        font-size: 1rem;
        line-height: 24px;
    }
    caption {
        font-size: 14px;
        line-height: normal;
    }
}


.more-projects {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 8rem 1fr 5rem;
    grid-template-areas:
	'title title title'
	'more1 more2 more3'
	'word1 word2 word3';
    justify-items: center;
    margin-top: 7vh;
    margin-bottom: 4rem
}
.more-img {
    width: 28vw;
    border-radius: var(--border-radius);
    border: 2px solid var(--button-color);
}
@media screen and (min-width:0px) and (max-width: 767px) {
    .more-projects {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
    }
    .more-img {
        width: 100%;
        border-radius: var(--border-radius);
        border: 2px solid var(--button-color);
        margin-top: 2vh;
    }
}
.more-link {
    text-decoration: none;
    margin-top: -1.5vh;
}

.more1 {
    grid-area: more1;
}
.more2 {
    grid-area: more2;
}
.more3 {
    grid-area: more3;
}
.more-title {
    grid-area: title;
}
.word1 {
    grid-area: word1;
}
.word2 {
    grid-area: word2;
}
.word3 {
    grid-area: word3;
}
/* --__--__--_----__--__--_----__--__--_--  navigation and footer   --__--__--_----__--__--_-_--_--  */
.burger {
    display: none;
}
.burger-x {
    display: none;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
    .burger {
        display: block;
        width: 50px;
        height: 50px;
        max-width: 100%;
        position: fixed;

        top: 20px;
        right: 47.7px;
        /* padding-top: .5rem; */

        background-color: var(--main-background);
        /* border: var(--button-color); */
        border: 2px solid var(--button-color);
        border-radius: 5px;
        padding: 6px;
        z-index: 1000;
    }
}
@media screen and (min-width: 768px) {
    .nav-menu {
        display: flex;
        /* justify-content: space-around; */
        margin-right: 8vh;
    }
    .nav-wrapper {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        background-color: var(--main-background); 
    }
}

nav.open {
    transform: none;
}

header nav {
    background-color: var(--footer-background);
}

.nav-link {
    text-decoration: none;
    color: var(--primary-text);
}
@media screen and (min-width: 0px) and (max-width: 767px) {
    nav ul {
        display: block;
    }
    .nav-link {
        color: var(--secondary-text);
        font-size: 3.5vh;
        line-height: 9vh;
    }
    .nav-menu {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        margin: 20vh auto;
    }
    .burger-x {
        display: block;
        background-color: var(--footer-background);
        border: none;
        margin-top: 1rem;
    }
    nav {
        /* background-color: var(--gray-100);
        border-left: 1px solid var(--dark-blue); */
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        width: 100vw;
        z-index: 100;
    
        transform: translateX(100vw);
        transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
}
.nav-menu li {
    list-style: none;
    text-decoration: none;
} 
.logo {
    border: 1.5px solid var(--main-background);
    border-radius: 10px;
    background-color: var(--footer-background);
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    left: 46.7px;
    cursor: pointer;
    /* padding: .3rem .1rem; */
    z-index: 1000;
    transition: none;
}

header {
    margin-top: 4vh;
}

.wrapper {
    grid-area: content;
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

.creative-wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}



footer {
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-flow: column wrap;
    background-color: var(--footer-background);
    max-width: 100%;
    margin-top: 15vh;
}
.footer-icons a {
    margin-left: 1rem; 
}
@media screen and (min-width: 768px) {
    footer {
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 1rem 1rem 2.5rem 1rem;
    }
    .footer-first {
        order: 1;
        margin-left: 4vw;
    }
    .footer-icons {
        order: 3;
        margin-right: 4vw;
    }
}
.footer-text {
    color: var(--secondary-text);
    text-align: center;
}
.footer-first {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-philly {
    margin-top: 24px;
}
.footer-icons {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 20px;
    align-self: center;
    align-content: space-between;
    margin-bottom: 24px;
    margin-top: 20px;
}
.footer-icons a {
    text-decoration: none;
}
.icon {
    /* transition: transform .5s ease; */
    transition: all 0.3s ease;
    padding: 1rem 1rem .5rem 1rem;
    border-radius: 20px;


}
.icon:hover {
    transform: translateY(-5px);
    background-color: var(--primary-text);
    border-radius: 20px;
}

/* img:hover {
    filter: saturate(120%);
    filter: drop-shadow(2px 2px 5px #99D0EF);
} */


/* --__--__--_----__--__--_----__--__--_--    index     --__--__--_--__--__--__--_-- */



.intro {
    flex: 1; /* Allows the text section to grow */
    padding: 20px; /* Adjust as needed */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro-blurb {
    margin: 10vh auto 5vh auto;
    font-size: 3vh;
    line-height: 4vh;
}

@media screen and (min-width: 768px) { 
    .intro-blurb {
        margin-right: 5vh;
    }
}
@media screen and (min-width: 1348px) { 
    .intro-blurb {
        margin-right: 20vh;
    }
}

@media screen and (min-width: 1100px) { 
    .intro-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.index-title-name, .index-intro-blurb {
    text-align: left; /* Align text to the left */
    margin: 10px 0; /* Adjust spacing as needed */
}

.lucia-presenting {
    border-radius: 200px 200px var(--border-radius) var(--border-radius); 
    width: 30vw;
    height: fit-content;
    /* box-shadow: 10px 10px 0px 0px var(--button-color); */
}


@media screen and (max-width: 768px) { 
    .intro {
        flex-direction: column;
        width: 100%; 
        align-items: center;
    }

    .lucia-presenting {
        width: 90%; 
    }
}
@media screen and (min-width: 1220px) {
    .lucia-presenting  {
        width: 20vw;
        height: fit-content;
    }
}

.projects {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 4vh;
    margin-bottom: 8vh;
    margin-top: 2vh;
}
@media screen and (min-width: 768px) { 
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
@media screen and (min-width: 1130px) and (max-width: 1220px) {
    .projects {
        display: grid;
        grid-template-columns: 33vw 33vw;
        grid-template-rows: 47vw 47vw;
    }
    .card-container {
        height: fit-content;
    }
}
@media screen and (min-width: 1220px) {
    .projects {
        display: grid;
        grid-template-columns: 30vw 30vw;
        grid-template-rows: 1fr 1fr;
    }
    .card-container {
        height: fit-content;
    }
}
@media screen and (min-width:1166px) {
    .card-container {
        height:auto;
    }
}


.card-container {
    align-items: center;
    border-radius: var(--border-radius);
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-self: stretch;
    transition: all .3s ease-in;;
}
@media (max-width: 768px) { 
    .card-container {
        height: fit-content;
    }
}
@media screen and (min-width: 770px) and (max-width: 970px) { 
    .card-container {
        height: auto;
    }
}


.card-title {
    /* margin-bottom: 0; */
    top: 17px;
    position: relative;
}
.card-1 {
    border: 5px solid var(--project-1-dark); 
    background-color: #C6ECFF;
}
.card-1:hover {
    box-shadow: 3px 3px var(--project-1-dark);
    transform: translate(-1px, -1px);
}
.card-2 {
    border: 5px solid var(--project-2-dark); 
    background-color: var(--project-2-light)
}
.card-2:hover {
    box-shadow: 3px 3px var(--project-2-dark);
    transform: translate(-1px, -1px);
}
.card-3 {
    border: 5px solid var(--project-3-dark); 
    background-color: var(--project-3-light)
}
.card-3:hover {
    box-shadow: 3px 3px var(--project-3-dark);
    transform: translate(-1px, -1px);
}
.card-4 {
    border: 5px solid var(--project-4-dark); 
    background-color: var(--project-4-light)
}
.card-4:hover {
    box-shadow: 3px 3px var(--project-4-dark);
    transform: translate(-1px, -1px);
}

.card-text {
    margin: .5vh;
    padding: 0 1.5vh 0 1.5vh;
    text-wrap: pretty;
    width: 30ch;
}
.card-icons {
    display: flex;
    flex-flow: row nowrap;
    gap: .75rem;
    height: 3vh;
    justify-content: center;
}
.card-image-1 {
    margin-top: 3vh;
    border-radius: 0 0 39px 0; 
    width: 100%;
}
.card-image-2 {
    margin-top: 3vh;
    border-radius: 0 0 39px 39px; 
    width: 100%;
}
.card-image-1, .card-image-2 {
    margin-top: auto; 
    border-radius: 0 0 39px 39px;
    width: 100%;
}
.button-card {
    color: var(--secondary-text);
    font-family: var(--font-primary);
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer; 
    transition: all .3s ease .1s;
    margin-top: 3vh;
    margin-bottom: 1vh;

    padding: 0.5rem 1rem; 
    border-radius: 20px; 
}
.button-card1 {
    background-color: var(--project-1-dark);
}
.button-card2 {
    background-color: var(--project-2-dark);
}
.button-card3 {
    background-color: var(--project-3-dark);
}
.button-card4 {
    background-color: var(--project-4-dark);
}
.button-card1:hover {
    font-style: normal;
    font-weight: 500;
    border-radius: var(--border-radius);
    background-color: var(--project-1-dark);
    transform: translateY(-5px);
}
.button-card2:hover {
    font-style: normal;
    font-weight: 500;
    border-radius: var(--border-radius);
    background-color: var(--project-2-dark);
    transform: translateY(-5px);
}
.button-card3:hover {
    font-style: normal;
    font-weight: 500;
    border-radius: var(--border-radius);
    background-color: var(--project-3-dark);
    transform: translateY(-5px);
}
.button-card4:hover {
    font-style: normal;
    font-weight: 500;
    border-radius: var(--border-radius);
    background-color: var(--project-4-dark);
    transform: translateY(-5px);
}

.index-header-projects {
    margin: 2rem auto 3rem auto;
    text-align: center;
}

/*   projects  */

.project-wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}
.project-title {
    text-align: center;
    margin-top: 3vh;
}
.project-header {
    text-align: center;
    margin: 8vh auto 2vh auto;
}
.rounded-image, .creative-img {
    display: block;
    border-radius: var(--border-radius);
    max-width: 100%;
    margin: 2vh auto;
    height: auto;
}
.video {
    display: flex;
    justify-content: center; 
    align-items: center;
    
}
video {
    border-radius: 30px;
    margin: 1rem;
}


/* figure {
    margin: 0 auto;
    position: relative; 
    height: auto; 
}
figcaption {
    font-family: var(--font-primary);
    font-size: .813rem; 
    font-weight: 500; 
    margin-top: 10px; 
    margin-bottom: 1.5rem;
    text-align: center;
}
img+figcaption {
    margin-top: 10px;
} */


figcaption {
    font-family: var(--font-primary);
    font-size: 14px;
    text-align: center;
    align-self: center;
    margin-top: 10px;
}
.fig-after, .fig-before {
    width: 100%;
}
.before-after-1 {
    display: flex;
    flex-flow: column;
}
@media screen and (min-width: 768px) {
    .before-after-1 {
        display: grid;
        grid-template-columns: 40vw 40vw;
        gap: 1rem;
        margin: 3vh auto;    
    }
}
@media screen and (min-width: 768px) {
    .fig-after, .fig-before {
        height: 30vh;
        width: 48vh;
    }
}

/* .fig-before {
    position: absolute;
    opacity: 0; 
    z-index: 2; 
    animation: fadeInOut 1.5s infinite alternate forwards; 
}

.fig-after {
    display: block;
    border-radius: 14px;
    max-width: 100%;
    height: auto;
}

.fig-before:hover {
    opacity: 0; 
}

@keyframes fadeInOut {
    from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
} */

/* .button-prototype {
    background-color: var(--button-color);
    color: white;
    font-family: var(--font-primary);
    border: none;
    border-radius: 44px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none; 
    margin: 1vh;
    padding: 17px 40px;
    
}
proj2-buttons {
    display: flex;
    flex-flow: column wrap;
    margin: 1vh auto;
} */


.proj1-cover {
    border-radius: var(--border-radius);
    margin-top: 4vh;
    height: auto;
    width: 100%;
}
.proj3-cover {
    border: 1.4px solid var(--case-study);
}
@media screen and (min-width: 768px) {
    .cover {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}
.proj1-title {
    color: var(--project-1-dark);
}

.details {
    line-height: 1vh;
}
.details-proj {
    margin-top: 4vh;
}
.details-title, .details-job {
    font-weight: 650;
    margin-top: 1vh;
}
.details-job {
    font-weight: 600;
    font-size: 2.3vh;
}

@media screen and (min-width: 768px) {
    .overview-details {
        display: grid;
        grid-template-columns: 40vw 40vw;
        gap: 8vw;
    }
}
.overview-title {
    font-weight: 650;
}
.overview-blurb-proj1, .overview-blurb-proj2, .overview-blurb-proj3, .overview-blurb-proj4 {
    margin-top: 2vh;
}
.overview-blurb-proj1 {
    background-color: var(--project-1-light);
    padding: 20px 30px 20px 30px;
    border-radius: var(--border-radius);
    border: 2px solid var(--project-1-dark);
    box-shadow: 3px 3px var(--project-1-dark);
}
.overview-blurb-proj2 {
    background-color: var(--project-2-light);
    padding: 20px 30px 20px 30px;
    border-radius: var(--border-radius);
    border: 2px solid var(--project-2-dark);
    box-shadow: 3px 3px var(--project-2-dark);
}
.overview-blurb-proj3 {
    background-color: var(--project-3-light);
    padding: 20px 30px 20px 30px;
    border-radius: var(--border-radius);
    border: 2px solid var(--project-3-dark);
    box-shadow: 3px 3px var(--project-3-dark);
}
.overview-blurb-proj4 {
    background-color: var(--project-4-light);
    padding: 20px 30px 20px 30px;
    border-radius: var(--border-radius);
    border: 2px solid var(--project-4-dark);
    box-shadow: 3px 3px var(--project-4-dark);
}
.secondary-text {
    color: var(--secondary-text);
}
.bubbles {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* gap: 10px; */
}
.bubble {
    margin: 5px;
    padding: 5px 10px;
    background-color: #75fff63b;
    border-radius: 20px;
    border: 2px solid var(--case-study);

}
/* .bubble-1 {
    border: 2px solid var(--case-study);
}
.bubble-2 {
    border: 2px solid var(--case-study);
}
.bubble-3 {
    border: 2px solid var(--case-study);
}
.bubble-4 {
    border: 2px solid var(--case-study);
} */



.proj1-columns1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.proj2-title {
    color: var(--project-2-dark);
}
.overview-blurb-proj2 {
    background-color: var(--project-2-light);
    padding: 20px 30px 20px 30px;
    border-radius: var(--border-radius);
    border: 2px solid var(--project-2-dark);
}
@media screen and (min-width: 768px) {
    .proj2-column1 {
        display: flex;
        flex-flow: row nowrap;
        gap: 2.5vw;

    }
    .proj2-image {
        width: 100%;
    }

}

/* Hide all groups initially in mobile view */
.proj2-final-images.mobile-view .image-text-group {
    display: none;
}
.image-text-group {
    display: none;
}

/* Show only the specific group in mobile view */
.proj2-final-images.mobile-view .image-text-group.show {
    display: block;
}


.proj2-final-images {
    margin-top: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2vh;
}
.proj2-final-text {
    align-self: center;
    justify-self: center;
    display: grid;
    transition: all 0.3s ease;
}
.proj2-final-text:hover {
    padding: 8vh;
    border-radius: 30px;
    background-color: #ffd5e3ad;
}
.mockup-title {
    margin-bottom: 7px;
}
@media screen and (min-width: 767px) and (max-width: 899px) {
    .proj2-final-text:hover {
        padding: 5vh;
        border-radius: 30px;
        background-color: #ffd5e3ad;
    }
}
@media screen and (min-width:0px) and (max-width:767px) {
    .proj2-final-images {
        display: flex;
        flex-flow: column;
    }
}
.proj3-title {
    color: var(--project-3-dark);
}
.image-grid {
    display: flex;
    flex-flow: column;
    width: 100%;
}
.ink {
    height: 33vh;
    width: 45vh;
}
@media screen and (min-width: 600px) {
    .image-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        margin-bottom: -63vh;
    }
    .ink {
        width: 50vw;
        height:30vw;
    }
}



.proj4-title {
    color: var(--project-4-dark);
}

/*  resume */
.resume-wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}
.resume-title-name {
    margin-top: 5vh;
    margin-bottom: .5vw;
}
.resume-title + ul {
    margin-top: .5vw;
    margin-bottom: .5vw;
}
.line-break {
    border: none;
    border-top-width: medium;
    border-top-style: none;
    border-top-color: currentcolor;
    border-top: 3px solid var(--primary-text);
    margin: 10px 0;
}
h3 + .line-break-light {
    margin-top: .5vw;
}
.line-break-light {
    border: none;
    border-top-width: medium;
    border-top-style: none;
    border-top-color: currentcolor;
    border-top: 2px solid var(--footer-background);
    margin: 10px 0;
}
.resume-job-title {
    margin: 0;
}
.resume-job-title {
    border: 1.5px solid black;
    border-radius: 7px;
    padding-left: 1vw;
    padding-right: 2vw;
    width: fit-content;
    margin: 1.5rem auto .5rem 0px;
}

.button-resume-header {
    color: white;
    font-family: var(--font-primary);
    font-size: 1rem;
    text-decoration: none;
    border-radius: 44px;
    cursor: pointer;
    background-color: var(--button-color);

    padding: 1rem 2rem; 
    width: fit-content;

    margin-top: 13vh;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .cover {
        margin-top: 10.8vh;
    }
}
.resume-links {
    margin-top: .5vh;
    margin-left: 0;
}
@media screen and (min-width: 0px) and (max-width: 873px) {
    
    /* Apply styling to each link */
    .resume-links a {
        display: block; /* Ensure each link appears on a new line */
        padding: .5rem 1rem;
    }
}

/* --__--__--_----__--__--_----__--__--_--  creative   --__--__--_----__--__--_-_--_--  */

/* --__--__--_----__--__--_----__--__--_--  about   --__--__--_----__--__--_-_--_--  */

.about-title {
    margin-top: 13vh;
}
.about-wrapper {
    display: flex;
    flex-flow: column-reverse;
    gap: 8vh;
}
.about-lucia {
    width: 100%;
    margin: 0 auto;
    border-radius: var(--border-radius);
}
@media screen and (min-width:768px) {
    .about-wrapper {
        display: flex;
        flex-direction: row;
        padding-bottom: 1rem;
        gap: 5vh;

    }
}
.button-resume {
    padding: 1rem 2rem; 
    margin: .7rem auto;
    margin-top: 1rem;
    
}
.button-resume:hover {
    font-style: normal;
    animation: overshoot 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    transform: translateY(-5px);
}
/* @media screen and (min-width:900px) {
    .button-resume {
        padding: 1rem 2rem; 
        margin: .7rem auto;
        margin-top: -.7vh;
        
    }
}
@media screen and (min-width:1300px) {
    .button-resume {
        padding: 1rem 2rem; 
        margin: .7rem auto;
        margin-top: -9.7vh;
    }
} */




.creative-gallery {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50ch, 1fr));
}

.gallery img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: var(--gallery-height);
    transform: scale(1) translate(0, 0);
    transition: transform 800ms ease-in;
}

.gallery figure {
    --gallery-height: 15rem;
    --gallery-aspect-ratio: 4/3;

    /* reset figure default margin */
    margin: 0;
    height: var(--gallery-height);
    background-color: hsl(200, 85%, 2%);

    display: grid;
    grid-template-areas: "card";
    place-items: end;
    border-radius: var(--border-radius);
    overflow: hidden;
}

@supports (aspect-ratio: 1) {
    .gallery figure,
    .gallery img {
    aspect-ratio: var(--gallery-aspect-ratio);
      /* Remove height to prevent distorting aspect-ratio */
        height: auto;
    }
}

  .gallery figure > * {
    grid-area: card;
}

.gallery figcaption {
    transition: transform 100ms 300ms ease-in;

    /* Visual styles for the caption */
    padding: 0.25em 0.5em;
    border-radius: 4px 0 0 0;
    background-color: hsl(0 0% 100% / 87%);
    /* provide stacking context */
    z-index: 1;
}

.gallery figure:hover figcaption,
.gallery figure:focus figcaption {
    transform: translateY(0);
}

.gallery figure:hover img,
.gallery figure:focus img {
    transform: scale(1.3) translate(-8%, -3%);
}

.gallery figure:focus {
    outline: 2px solid white;
    outline-offset: 2px;
}

@media (any-hover: hover) and (any-pointer: fine) {
    .gallery figcaption {
    transform: translateY(100%);
    }
}

@media (prefers-reduced-motion: reduce) {
    .gallery * {
        transition-duration: 0ms !important;
    }

    .gallery img {
        transform: none !important;
    }

    .gallery figcaption {
        transition-delay: 0ms;
    }
}

/* Vignette */
.gallery figure::after {
    content: "";
    grid-area: card;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 2rem 1rem hsl(0 0% 0% / 65%);
    position: relative;
}
