@font-face {
    font-family: "montserrat";
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "montserrat-italic";
    src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: "rubik";
    src: url('../fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "rubik-italic";
    src: url('../fonts/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

html {
    --primary-text: #08201E;
    --secondary-text: #ffffff;
    --link-before: #005C46; 
    --main-background: #DDFFFD;
    --footer-background: #005454;
    --button-color: #005C46;
    /* 344D00 */
    --case-study: #165954;
    --hover-icon: #FFD80B;

    --font-header: montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --font-primary: rubik, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    
    --project-1-light: #92CEF1;
    --project-1-dark: #004265;
    --project-2-light: #FFD5E3;
    --project-2-dark: #A31945; 
    /* #CC3467 */
    --project-3-light: #E2FFFF;
    --project-3-dark: #154445;
    --project-4-light: #E4FCCF;
    --project-4-dark: #4B5A2B;
}

* {
    box-sizing: border-box;
}

.project-wrapper {
    width: 100%;
    /* max-width: 300 px; */
    margin: 0 auto;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
body {
    background-color: var(--main-background);
    
}
main {
    background-color: var(--main-background);
    
}
p {
    color: var(--primary-text);
    font-family: var(--font-primary);
    line-height: 28px;
    margin: 3vh auto;
}
ul li {
    color: var(--primary-text);
    font-family: var(--font-primary);
    line-height: 28px;
}

h1, h2, h3, h4 {
    color: var(--primary-text);
    font-family: var(--font-header);
    font-weight: 700;
    font-style: bold;
    max-width: 100%;
}

/* transition: [property] [duration] [timing-function] [delay]; */
a {
    color: var(--link-before);
    /* transition: color .5s ease-in .1s,
    font-style .5s ease-out .1s; */

    transition: background-color 0.3s ease-in, color 0.3s, font-style .3s ease-out;

    padding: 0.5rem 1rem; 
    border-radius: 20px; 
}
a:hover {
    background-color: #08201E; /* Dark color for hover state */
    color: #ffffff;
    font-style: italic;
}

.button-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.button {
    color: white;
    font-family: var(--font-primary);
    font-size: 1rem;
    text-decoration: none;
    border-radius: 44px;
    cursor: pointer;
    background-color: var(--button-color);

    transition: transform 0.3s;
}
.button-prototype {
    padding: 1rem 2rem; 
    margin: .7rem;
    width: fit-content;
}

.button:hover {
    font-style: normal;
    animation: overshoot 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
@keyframes overshoot {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
    
    100% {
        transform: scale(1); 
    }
}

@media screen and (min-width: 576px) {
    .button-container {
        flex-direction: row; /* Buttons will be in a row on screens wider than 576px */
        justify-content: center; /* Centers the buttons horizontally */
    }
}

/* Mobile styles */
@media screen and (min-width: 0px) and (max-width: 767px) {
    html {
        font-size: 16px;
        line-height: 28px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
        line-height: 33px;
    }
    h3 {
        font-size: 20px;
        line-height: 33px;
    }
    h4 {
        font-size: 18px;
    }
    .button {
        font-size: 1rem;
        line-height: 24px;
    }
    caption {
        font-size: 16px;
    }
}
  /* Tablet styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 26px;
        line-height: 33px;
    }
    h3 {
        font-size: 22px;
        line-height: 33px;
    }
    h4 {
        font-size: 18px;
    }
    .button {
        font-size: 1rem;
        line-height: 24px;
    }
    caption {
        font-size: 14px;
    }
}
  /* Desktop styles */
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
        line-height: 33px;
    }
    h3 {
        font-size: 24px;
        line-height: 33px;
    }
    h4 {
        font-size: 22px;
    }
    .button {
        font-size: 1rem;
        line-height: 24px;
    }
    caption {
        font-size: 14px;
        line-height: normal;
    }
}

/* --__--__--_----__--__--_----__--__--_--  navigation and footer   --__--__--_----__--__--_-_--_--  */
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--main-background); 
}
.nav-menu {
    display: flex;
    justify-content: space-around;
}
.nav-link {
    text-decoration: none;
    color: var(--primary-text);
}
.nav-menu li {
    list-style: none;
    text-decoration: none;
} 
.logo {
    border: 1.5px solid var(--main-background);
    border-radius: 10px;
    background-color: var(--footer-background);
    width: 54px;
    height: 50px;
    position: fixed;
    top: 20px;
    left: 36.7px;
    height: auto;
    cursor: pointer;
    padding: .3rem .1rem;
    z-index: 1000;
}

.wrapper {
    grid-area: content;
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}



footer {
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-flow: column wrap;
    background-color: var(--footer-background);
    max-width: 100%;
}
.footer-text {
    color: var(--secondary-text);
    text-align: center;
}
.footer-first {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-philly {
    margin-top: 24px;
}
.footer-icons {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 20px;
    align-self: center;
    align-content: space-between;
    margin-bottom: 24px;
    margin-top: 20px;
}
.footer-icons a {
    text-decoration: none;
}
/* img:hover {
    filter: saturate(120%);
    filter: drop-shadow(2px 2px 5px #99D0EF);
} */


/* --__--__--_----__--__--_----__--__--_--    index     --__--__--_--__--__--__--_-- */



.intro {
    flex: 1; /* Allows the text section to grow */
    padding: 20px; /* Adjust as needed */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro-blurb {
    margin: 10vh auto 5vh auto;
    font-size: 3vh;
    line-height: 4vh;
}

@media screen and (min-width: 768px) { 
    .intro-blurb {
        margin-right: 5vh;
    }
}

@media screen and (min-width: 1100px) { 
    .intro-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.index-title-name, .index-intro-blurb {
    text-align: left; /* Align text to the left */
    margin: 10px 0; /* Adjust spacing as needed */
}

.lucia-presenting {
    border-radius: 200px 200px 0 0; 
    width: 30vw;
    height: fit-content;
}


@media screen and (max-width: 768px) { 
    .intro {
        flex-direction: column;
        width: 100%; 
        align-items: center;
    }

    .lucia-presenting {
        width: 90%; 
    }
}
@media screen and (min-width: 1220px) {
    .lucia-presenting  {
        width: 20vw;
        height: fit-content;
    }
}

.projects {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 3vh;
    margin-bottom: 8vh;

}
@media (min-width: 768px) { 
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
.card-container {
    align-items: center;
    border-radius: 44px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-self: stretch;
}
@media (max-width: 768px) { 
    .card-container {
        height: fit-content;
    }
}
@media screen and (min-width: 770px) and (max-width: 970px) { 
    .card-container {
        height: auto;
    }
}


.card-1 {
    border: 5px solid var(--project-1-dark); 
    background-color: #C6ECFF;
}
.card-2 {
    border: 5px solid var(--project-2-dark); 
    background-color: var(--project-2-light)
}
.card-3 {
    border: 5px solid var(--project-3-dark); 
    background-color: var(--project-3-light)
}
.card-4 {
    border: 5px solid var(--project-4-dark); 
    background-color: var(--project-4-light)
}

.card-text {
    margin: .5vh;
    /* padding: 1.5vh; */
    text-wrap: pretty;
}
.card-icons {
    display: flex;
    flex-flow: row nowrap;
    gap: .75rem;
    height: 3vh;
    justify-content: center;
}
.card-image-1 {
    margin-top: 3vh;
    border-radius: 0 0 39px 0; 
    width: 100%;
}
.card-image-2 {
    margin-top: 3vh;
    border-radius: 0 0 39px 39px; 
    width: 100%;
}
.card-image-1, .card-image-2 {
    margin-top: auto; 
    border-radius: 0 0 39px 39px;
    width: 100%;
}
.button-card {
    color: var(--secondary-text);
    font-family: var(--font-primary);
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer; 
    transition: all .3s ease .1s;
    margin-top: 3vh;
    margin-bottom: 1vh;
}
.button-card1 {
    background-color: var(--project-1-dark);
}
.button-card2 {
    background-color: var(--project-2-dark);
}
.button-card3 {
    background-color: var(--project-3-dark);
}
.button-card4 {
    background-color: var(--project-4-dark);
}
.button-card1:hover {
    font-style: normal;
    font-weight: 500;
    border-radius: 44px;
    background-color: var(--project-1-dark);
    transform: translateY(-5px);
}
.button-card2:hover {
    font-style: normal;
    font-weight: 500;
    border-radius: 44px;
    background-color: var(--project-2-dark);
    transform: translateY(-5px);
}
.button-card3:hover {
    font-style: normal;
    font-weight: 500;
    border-radius: 44px;
    background-color: var(--project-3-dark);
    transform: translateY(-5px);
}
.button-card4:hover {
    font-style: normal;
    font-weight: 500;
    border-radius: 44px;
    background-color: var(--project-4-dark);
    transform: translateY(-5px);
}

.index-header-projects {
    margin: 2rem auto 3rem auto;
    text-align: center;
}

/*   projects  */

.project-wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
.project-title {
    text-align: center;
    margin-top: 2vh;
}
.project-header {
    text-align: center;
    margin: 7vh auto 2vh auto;
}
.rounded-image {
    display: block;
    border-radius: 14px;
    max-width: 100%;
    margin: 1vh auto;
    height: auto;
}



/* .button-prototype {
    background-color: var(--button-color);
    color: white;
    font-family: var(--font-primary);
    border: none;
    border-radius: 44px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none; 
    margin: 1vh;
    padding: 17px 40px;
    
}
proj2-buttons {
    display: flex;
    flex-flow: column wrap;
    margin: 1vh auto;
} */



.proj1-cover {
    border-radius: 14px;
    margin-top: 4vh;
    height: auto;
    width: 100%;
}
.proj1-title {
    color: var(--project-1-dark);
}
.overview-blurb-proj1 {
    background-color: var(--project-1-light);
    padding: 20px 30px 20px 30px;
    border-radius: 14px;
    border: 2px solid var(--project-1-dark);
}
.secondary-text {
    color: var(--secondary-text);
}
.bubbles {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /* gap: 10px; */
}
.bubble {
    margin: 5px;
    padding: 5px 10px;
    background-color: var(--main-background);
    border-radius: 20px;
}
.bubble-1 {
    border: 2px solid var(--project-1-dark);
}
.bubble-2 {
    border: 2px solid var(--project-2-dark);
}
.bubble-3 {
    border: 2px solid var(--project-3-dark);
}
.bubble-4 {
    border: 2px solid var(--project-4-dark);
}
.proj1-columns1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.proj2-title {
    color: var(--project-2-dark);
}
.overview-blurb-proj2 {
    background-color: var(--project-2-light);
    padding: 20px 30px 20px 30px;
    border-radius: 14px;
    border: 2px solid var(--project-2-dark);
}

.proj3-title {
    color: var(--project-3-dark);
}

.proj4-title {
    color: var(--project-4-dark);
}

/*  resume */
.resume-wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}
.resume-job-title, .resume-links {
    margin: 0;
}
.resume-job-title {
    border: 1.5px solid black;
    border-radius: 7px;
    padding-left: 1vw;
    padding-right: 2vw;
    width: fit-content;
}

.button-resume-header {
    color: white;
    font-family: var(--font-primary);
    font-size: 1rem;
    text-decoration: none;
    border-radius: 44px;
    cursor: pointer;
    background-color: var(--button-color);

    padding: 1rem 2rem; 
    margin: .7rem;
    width: fit-content;

    margin-top: 5vh;
}
.line-break {
    border: none;
    border-top-width: medium;
    border-top-style: none;
    border-top-color: currentcolor;
    border-top: 3px solid var(--primary-text);
    margin: 10px 0;
}

